

/* Fonts
*********************************/

@font-face{
  font-family: 'CenturyGothic';
  src: url('fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),  url('fonts/CenturyGothic.woff') format('woff'), url('fonts/CenturyGothic.ttf')  format('truetype'), url('fonts/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* BOOTSRAP Custom CSS
*********************************/

body
{
    font-family: 'CenturyGothic', sans-serif;
    font-size: 12px;
    background-color: #404040;
    color: #b4b4b4;
}

h1, h2, h3, h4, h5, h6
{
    color: #e4b423;
    font-weight: normal;
}

h1, h2
{
    margin-top: 10px;
    margin-bottom: 20px;
}

p
{
    text-align: justify;
}

hr
{
    border: 1px solid #4c4c4c;
}

a ,a:hover, a:active
{
    color: #e4b423;
}

.navbar
{
    margin-bottom: 0;
    font-size: 13px;
    border: none;
    min-height: 20px;
}

.navbar-inverse
{
    min-height: 80px;
}

.navbar-inverse .navbar-nav > li > a
{
    color: #c1c1c1;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav a:hover,
.navbar-inverse .navbar-nav a:focus
{
    background: #404040;
    background-image: url('images/darkBGstripes.png');
    background-repeat: repeat;
}

.btn-default
{
    color: #e4b423;
    background-color: #464646;
    border-color: #3c3c3c;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default
{
    color: #e4b423;
    background-color: #464646;
    border-color: #e4b423;
}

.jumbotron p
{
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
}

.jumbotron p b
{
    font-weight: bold;
}

.jumbotron
{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.label
{
    border-radius: 0;
    text-align: left;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
}

.label-primary {
    background-color: #ffbb3b;
    background-color: rgba(255,187,59,0.7);
}

.btn-default.disabled
{
    background-color: #404040;
    color: #1a1a1a;
    font-weight: bold;
    border: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    opacity: 1;
}

.text-muted
{
    color: #595959;
}

legend
{
    color: #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
}

.well, .panel
{
    background-color: #3c3c3c;
    border: 1px solid #4e4e4e;
    border-radius: 5px;
    padding: 10px;
}

.form-control
{
    color: #000;
    border-color: #4e4e4e;
}

.form-control:focus
{
    border-color: #e4b423;
}

/* Custom CSS
*********************************/
.maplink {
	padding-top:15px;
}

.resetPM
{
    padding: 0!important;
    margin: 0!important;
}

.resetP
{
    padding: 0!important;
}

.navbar-inverse .navbar-nav > li > a::first-letter
{
    color: #e4b423;
}

.imgHolder
{
    position: relative;
}

.imgHolder .label
{
    position: absolute;
    left: 0px;
    bottom: 20px;
}

.label-big
{
    font-size: 20px;
}

a:hover .label-primary
{
    background-color: rgba(255,187,59,1);
}

.date-pub
{
    font-weight: bold !important;
    padding-bottom: 10px;
}

li.priceList
{
    list-style: none;
    overflow: hidden;
    position: relative;
    height: 40px;
    padding-top: 10px;
    border-top: 1px solid #4e4e4e;
    border-bottom: 1px solid #4e4e4e;
}

li:last-child.priceList
{
    border-bottom: none;
}

li.priceList label
{
    position: relative;
    font-weight: normal;
    float: left;
    padding-right: 5px;
    background-color: #3c3c3c;
    z-index: 100;
}

li.priceList span
{
    position: relative;
    float: right;
    padding-left: 5px;
    background-color: #3c3c3c;
    color: #e4b423;
    z-index: 100;
}

.dotted-bg
{
    border-top: dotted 1px #b4b4b4;
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    z-index: 0;
}

.darkBG
{
    background-color: #404040;
    background-image: url('images/darkBGstripes.png');
    background-repeat: repeat;
}

.darkerBG
{
    background-color: #353535;
    background-image: url('images/darkerBGstripes.png');
    background-repeat: repeat;
}

.blackBG
{
    background-color: #1a1a1a;
}

.grayBG
{
    background-color: #404040;
}

.panel p
{
    color: #c4c4c4;
    text-align: left;
}

.panel h5,.panel  h4, .panel h3
{
    color: #fff;
    margin-top: 10px;
}

.panel .btn-group
{
    margin-top: 20px;
}

footer > .container-fluid
{   margin-top: 20px;
    padding-bottom: 20px;
}

footer img, footer p
{
    margin-top: 20px;
}

footer a, footer a:hover, footer a:focus
{
    color: #595959;
}

/* CAROUSEL 
-------------------------------------------------- */

.carousel.slide
{
    max-width: 2000px;
    min-width: 510px;
    overflow: hidden;
}

.carousel-inner
{
    width: 2000px;
    left: 50%;
    margin-left: -1000px;
}

/* MediaQueries
*********************************/

@media (max-width:767px)
{
    .navbar-nav > li
    {
        float: left;
        width: 100%;
    }

}


@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}